@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?c6idyq");
  src: url("fonts/icomoon.eot?c6idyq#iefix") format('embedded-opentype'), url("fonts/icomoon.ttf?c6idyq") format('truetype'), url("fonts/icomoon.woff?c6idyq") format('woff'), url("fonts/icomoon.svg?c6idyq#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-label:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-map:before {
  content: "\e902";
}
.icon-phone2:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-user:before {
  content: "\e7fd";
}
.icon-search2:before {
  content: "\e8b6";
}
.icon-menu2:before {
  content: "\e120";
}
.icon-search:before {
  content: "\f002";
}
.icon-geo:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-file:before {
  content: "\f0f6";
}
body {
  background: #ebebeb;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
}
.wrapper {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.app {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}
.hidden {
  display: none;
}
.bodyApp {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.location {
  background: #f00;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 10px;
}
.location-menu {
  background: #00f;
  width: 20%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.location-item {
  background: #f2f2f2;
  color: #555;
  border: 1px solid #d5d5d5;
  border-bottom: none;
  cursor: pointer;
}
.location-item:last-child {
  border-bottom: 1px solid #d5d5d5;
}
.location-item.active {
  -webkit-box-shadow: inset 4px 0 0 0 #f1c40f;
  box-shadow: inset 4px 0 0 0 #f1c40f;
}
.location-title {
  font-weight: 700;
  line-height: 30px;
  padding: 0 10px;
}
.location-copy {
  padding: 5px 10px;
}
.location-copy > div {
  position: relative;
  padding-left: 18px;
  margin-bottom: 5px;
}
.location-copy > div .icon {
  position: absolute;
  left: 0;
  font-size: 1.2em;
}
.location-copy .btn-y {
  background: #f1c40f;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.location-map {
  background: #f2f2f2;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.location-map .map {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.location-map .address {
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  font-size: 1.2em;
  color: #555;
}
.headerApp {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.headerApp .hmenubtn {
  display: none;
}
.headerApp-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  position: relative;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 60px;
}
.headerApp-content:after {
  content: '';
  border: 5px solid transparent;
  border-top: none;
  border-bottom: 1px solid rgba(255,255,255,0.35);
  position: absolute;
  top: 101%;
  left: 215px;
  right: 0;
}
.headerApp-logo {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.headerApp-nav .menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0;
  list-style: none;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  height: 100%;
}
.headerApp-nav .menu-item {
  position: relative;
}
.headerApp-nav .menu-item:hover .subMenu-auto {
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.headerApp-nav .menu-link {
  color: rgba(255,255,255,0.6);
  display: block;
  width: 155px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,0.6);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.headerApp-nav .menu-link:hover {
  color: rgba(255,255,255,0.9);
  letter-spacing: 3px;
}
.headerApp-nav .menu .icon {
  font-size: 1.2em;
  vertical-align: middle;
}
.headerApp-nav .subMenu-auto {
  visibility: hidden;
  background: #fff;
  color: #212121;
  position: absolute;
  top: 100%;
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-50%) scale(1.1);
  -moz-transform: translateX(-50%) scale(1.1);
  -o-transform: translateX(-50%) scale(1.1);
  -ms-transform: translateX(-50%) scale(1.1);
  transform: translateX(-50%) scale(1.1);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  min-width: 250px;
  z-index: 99;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.headerApp-nav .subMenu-content {
  position: absolute;
  padding: 10px;
  list-style: none;
  background: #fff;
}
.headerApp-nav .subMenu-content:before {
  content: '';
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.headerApp-nav .subMenu-item {
  white-space: nowrap;
  margin: 4px 0;
}
.headerApp-nav .subMenu-item a {
  color: #212121;
  text-decoration: none;
  line-height: 30px;
}
.headerApp-nav .subMenu-item .bgy {
  background: #f1c40f;
  display: inline-block;
  padding: 4px;
  color: rgba(0,0,0,0.6);
}
.heroApp {
  height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.heroApp.small {
  height: 200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}
.heroApp:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  -webkit-background-size: 3px;
  -moz-background-size: 3px;
  background-size: 3px;
  z-index: 2;
}
.heroApp:hover img {
  filter: blur(2px);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.heroApp:hover .heroApp-copy {
  color: rgba(255,255,255,0.9);
}
.heroApp:hover .heroApp-copy .text {
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.7);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.7);
}
.heroApp-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.heroApp-copy {
  position: relative;
  z-index: 3;
  color: rgba(255,255,255,0.6);
  font-size: 3em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}
.heroApp-copy .text {
  background: transparent;
  padding: 5px;
  -webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0);
  box-shadow: 0 0 0 10px rgba(0,0,0,0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.heroApp-copy .btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
}
.heroApp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  z-index: 1;
}
.btn {
  cursor: pointer;
  border: none;
  min-height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-decoration: none;
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 2px rgba(241,196,15,0.6), 0 0 0 10px rgba(241,196,15,0), inset 0 0 0 0 rgba(241,196,15,0.6);
  box-shadow: inset 0 0 0 2px rgba(241,196,15,0.6), 0 0 0 10px rgba(241,196,15,0), inset 0 0 0 0 rgba(241,196,15,0.6);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255,255,255,0.7);
  min-width: 150px;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 4px;
}
.btn:hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(241,196,15,0.6), 0 0 0 0 rgba(241,196,15,0.8), inset 0px -80px 0 0 rgba(241,196,15,0.6);
  box-shadow: inset 0 0 0 2px rgba(241,196,15,0.6), 0 0 0 0 rgba(241,196,15,0.8), inset 0px -80px 0 0 rgba(241,196,15,0.6);
  color: rgba(0,0,0,0.6);
}
.btn:focus,
.btn:active {
  outline: none;
}
.mainApp-content {
  background: #fff;
  min-height: 100px;
  position: relative;
  top: -100px;
  -webkit-box-shadow: 0 0 0 1px #ecf0f1;
  box-shadow: 0 0 0 1px #ecf0f1;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mainApp-content.small {
  max-width: 800px;
}
.mainApp-content .form {
  margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mainApp-content .form-section {
  margin: 4px;
  width: 40%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  min-width: 300px;
}
.mainApp-content .form-section.block {
  width: 100%;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mainApp-content .form-input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 40px;
  line-height: 40px;
}
.mainApp-content .form-label {
  min-width: 38px;
  padding: 0 4px;
  line-height: 46px;
  background: #34495e;
  color: #fff;
  text-align: center;
}
.mainApp-content .form-textarea {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: calc(100% - 8px);
  display: block;
}
.mainApp-content .form .btn {
  color: rgba(0,0,0,0.6);
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.mainApp-content .title {
  color: #212121;
  margin: 5px 0;
  display: inline-block;
  position: relative;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 6px 10px;
}
.mainApp-content .title:after {
  content: '';
  width: 50%;
  position: absolute;
  height: 4px;
  background: #f1c40f;
  left: 0px;
  bottom: 0px;
}
.mainApp-content .title:before {
  content: '';
  width: 4px;
  position: absolute;
  height: 50%;
  background: #f1c40f;
  bottom: 0;
  left: 0;
}
.mainApp-content .services-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mainApp-content .services-group .service {
  width: 20%;
  min-width: 195px;
  overflow: hidden;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.mainApp-content .services-group .service:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.mainApp-content .services-group .service-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.mainApp-content .services-group .service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainApp-content .services-group .service:hover .service-copy:before,
.mainApp-content .services-group .service:hover .service-content:before {
  height: 50%;
}
.mainApp-content .services-group .service:hover .service-copy:after,
.mainApp-content .services-group .service:hover .service-content:after {
  width: 50%;
}
.mainApp-content .services-group .service:hover .service-img {
  width: 105%;
  height: 105%;
}
.mainApp-content .services-group .service:hover .service-copy {
  color: #fff;
}
.mainApp-content .services-group .service-copy,
.mainApp-content .services-group .service-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  box-shadow: inset 0 0 0 4px #fff;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(255,255,255,0.8);
}
.mainApp-content .services-group .service-content {
  background: rgba(0,0,0,0.5);
}
.mainApp-content .services-group .service-content:after,
.mainApp-content .services-group .service-content:before {
  content: '';
  bottom: 9px;
  background: #f1c40f;
  left: 9px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  z-index: 99;
}
.mainApp-content .services-group .service-content:before {
  width: 4px;
  height: 0;
}
.mainApp-content .services-group .service-content:after {
  width: 0;
  height: 4px;
}
.mainApp-content .services-group .service-copy {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
  text-align: center;
}
.mainApp-content .services-group .service-copy:after,
.mainApp-content .services-group .service-copy:before {
  content: '';
  background: #f1c40f;
  top: 9px;
  right: 9px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  z-index: 99;
}
.mainApp-content .services-group .service-copy:before {
  width: 4px;
  height: 0;
}
.mainApp-content .services-group .service-copy:after {
  width: 0;
  height: 4px;
}
.mainApp-content .services-group .service-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.section {
  width: 100%;
  min-height: 500px;
  position: relative;
  border-bottom: 30px solid #ebebeb;
}
.section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}
.section.left {
  -webkit-box-pack: flex-star;
  -moz-box-pack: flex-star;
  -o-box-pack: flex-star;
  -ms-flex-pack: flex-star;
  -webkit-justify-content: flex-star;
  justify-content: flex-star;
}
.section-content {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.section-content.right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.section-content.left {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.section-copy {
  position: absolute;
  top: -70px;
  width: 45%;
  background: #fff;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.3);
}
.section-copy.right {
  right: 0;
}
.section-copy.left {
  left: 0;
}
.section-copy .title {
  color: #212121;
  margin: 0;
  display: inline-block;
  position: relative;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 6px 10px;
}
.section-copy .title:after {
  content: '';
  width: 50%;
  position: absolute;
  height: 4px;
  background: #f1c40f;
  left: 0px;
  bottom: 0px;
}
.section-copy .title:before {
  content: '';
  width: 4px;
  position: absolute;
  height: 50%;
  background: #f1c40f;
  bottom: 0;
  left: 0;
}
.section-brand {
  z-index: 2;
  width: 40%;
  text-align: center;
}
.section-brand .slogan {
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px #000;
}
.section-brand .btn {
  width: 200px;
  margin: 5px auto;
}
.section-list {
  padding-left: 20px;
  list-style: none;
}
.section-list-item {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 3px;
  color: #555;
  position: relative;
  padding-left: 30px;
}
.section-list-item:before {
  content: '\2713';
  font-weight: bold;
  color: #fff;
  display: inline-block;
  width: 25px;
  left: 0;
  top: 5px;
  line-height: 25px;
  text-align: center;
  background: #34495e;
  border-radius: 50%;
  position: absolute;
}
.footerApp {
  background: #212121;
  height: 40px;
  color: #fff;
  letter-spacing: 3px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.u-diagonal-right {
  position: relative;
  z-index: 9;
}
.u-diagonal-right:before {
  content: '';
  width: 102%;
  top: -50px;
  left: 0;
  height: 100px;
  background: #ebebeb;
  position: absolute;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  z-index: -1;
}
.u-diagonal-left {
  position: relative;
  z-index: 9;
}
.u-diagonal-left:before {
  content: '';
  width: 102%;
  top: -50px;
  left: 0;
  height: 100px;
  background: #ebebeb;
  position: absolute;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  z-index: -1;
}
@media (max-width: 900px) {
  .heroApp {
    height: 80vh;
  }
  .heroApp.small {
    height: 100px;
  }
  .mainApp:before {
    display: none;
  }
  .mainApp-content {
    position: static;
  }
  .mainApp-content .services-group {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .mainApp-content .services-group .service {
    width: 100%;
  }
  .mainApp-content .services-group .service:after {
    padding-bottom: 100px;
  }
  .location-menu {
    width: 40%;
  }
  .section {
    height: auto !important;
    min-height: auto;
  }
  .section-content {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-content.left,
  .section-content.right {
    -webkit-box-pack: flex-star;
    -moz-box-pack: flex-star;
    -o-box-pack: flex-star;
    -ms-flex-pack: flex-star;
    -webkit-justify-content: flex-star;
    justify-content: flex-star;
  }
  .section-copy {
    width: 100%;
    position: static;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .section-brand {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -o-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .location-menu {
    width: 50%;
  }
  .headerApp .hmenubtn {
    color: #fff;
    background: #f1c40f;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -o-box-flex: 0;
    box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: 40px;
    font-size: 20px;
  }
  .headerApp .hmenubtn.close {
    position: absolute;
    right: 0px;
    top: 15px;
    color: #555;
    background: transparent;
    font-size: 2em;
  }
  .headerApp #showmenu[type="checkbox"]:checked + .headerApp-nav {
    left: 0;
  }
  .headerApp-logo {
    margin: 0;
  }
  .headerApp-nav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    z-index: 99;
  }
  .headerApp-nav .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }
  .headerApp-nav .menu-item {
    position: relative;
    text-align: center;
    display: block;
    margin: 10px;
  }
  .headerApp-nav .menu-item:hover .subMenu-auto {
    visibility: visible;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  .headerApp-nav .menu-link {
    color: #555;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    max-width: 250px;
    border-bottom: 2px solid #f1c40f;
    padding: 0;
    text-shadow: none;
    white-space: nowrap;
  }
  .headerApp-nav .menu-link:hover {
    color: #555;
  }
  .headerApp-nav .menu .btn {
    color: #555;
  }
  .heroApp {
    height: 100vh;
    pointer-events: none;
  }
  .heroApp .btn {
    pointer-events: all;
  }
}
